config MACH_LGE
	bool

menu "LGE Device-Specific Changes"

menu "LGE Board Selection"

config MACH_MSM7X27A_M3
    depends on ARCH_MSM7X27A
    depends on !MSM_STACKED_MEMORY
    select MACH_LGE
    bool "MSM7x27A M3"
    help
        Support for the LG Electronics MSM7x27A M3.

config MACH_MSM7X27A_M3MPCS
    depends on ARCH_MSM7X27A
    depends on !MSM_STACKED_MEMORY
    select MACH_LGE
    bool "MSM7x27A M3MPCS"
    help
        Support for the LG Electronics MSM7x27A M3MPCS.

config MACH_MSM7X27A_HDK
    depends on ARCH_MSM7X27A
    depends on !MSM_STACKED_MEMORY
    select MACH_LGE
    bool "MSM7x27A HDK"
    help
        Support for the LG Electronics MSM7x27A HDK.

endmenu

menu "LGE Specific Patches"
config LGE_H9DA4VH4JJMMCR_NAND_PATCH
	bool "LGE Hynix H9DA4VH4JJMMCR nand probe patch"
	help
	  This patch is used for Hynix H9DAVH4JJMMCR nand probing.
	  Because Read ID 4th(page & block size) are not match with QCT code,
	  Put directly to parameter tables for device id 0xBC.
endmenu

endmenu
